.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px); /* Adjust height considering the navbar */
    padding: 20px;
    margin-top: 60px; /* Ensure it's below the navbar */
    background-color: #f9f9f9;
  }
  
  .form-header {
    text-align: center;
    margin-bottom: 20px; /* Space between header and form */
  }
  
  .register-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
  }
  
  .register-subtitle {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .register-form label {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .data-safety-text {
    font-size: 0.9em;
    color: #777;
    margin: -10px 0 15px;
    text-align: left;
  }
  
  .submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  